<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ralei.dao.SysEmployeeMapper">
  <resultMap id="BaseResultMap" type="com.ralei.pojo.SysEmployee">
    <id column="em_id" jdbcType="INTEGER" property="emId" />
    <result column="em_name" jdbcType="VARCHAR" property="emName" />
    <result column="em_phone" jdbcType="VARCHAR" property="emPhone" />
    <result column="em_position" jdbcType="INTEGER" property="emPosition" />
    <result column="em_status" jdbcType="INTEGER" property="emStatus" />
    <result column="em_company" jdbcType="VARCHAR" property="emCompany" />
    <result column="em_idcard" jdbcType="VARCHAR" property="emIdcard" />
    <result column="em_createdate" jdbcType="TIMESTAMP" property="emCreatedate" />
    <result column="em_leftdate" jdbcType="TIMESTAMP" property="emLeftdate" />
    <result column="em_engname" jdbcType="VARCHAR" property="emEngname" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="file_id" jdbcType="INTEGER" property="fileId" />
    <result column="dept_id" jdbcType="INTEGER" property="deptId" />
    <result column="wp_id" jdbcType="INTEGER" property="wpId" />
  </resultMap>
  <!--查询所有人员列表-->
  <select id="selectEmployeeUserList" resultType="list">
    SELECT e.em_id,
            e.em_name,
            e.em_phone,
            e.em_position,
            e.em_status,
            e.em_company,
            e.em_idcard,
            e.em_createdate,
            e.em_leftdate,
            e.em_engname,
            e.username,
            e.password,
            e.file_id,
            e.dept_id,
            e.wp_id,
            e.em_question,
            e.em_answer,
            e.em_img from sys_employee e
  </select>

  <!--添加员工-->
  <insert id="addEmployee" parameterType="com.ralei.pojo.SysEmployee">
      insert into sys_employee
      <trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="emId != null">
          em_id,
        </if>
        <if test="emName != null">
          em_name,
        </if>
        <if test="emPhone != null">
          em_phone,
        </if>
        <if test="emPosition != null">
          em_position,
        </if>
        <if test="emStatus != null">
          em_status,
        </if>
        <if test="emCompany != null">
          em_company,
        </if>
        <if test="emIdcard != null">
          em_idcard,
        </if>
        <if test="emCreatedate != null">
          em_createdate,
        </if>
        <if test="emLeftdate != null">
          em_leftdate,
        </if>
        <if test="emEngname != null">
          em_engname,
        </if>
        <if test="username != null">
          username,
        </if>
        <if test="password != null">
          password,
        </if>
        <if test="fileId != null">
          file_id,
        </if>
        <if test="deptId != null">
          dept_id,
        </if>
        <if test="wpId != null">
          wp_id,
        </if>
      </trim>
      <trim prefix="values (" suffix=")" suffixOverrides=",">
        <if test="emId != null">
          #{emId,jdbcType=INTEGER},
        </if>
        <if test="emName != null">
          #{emName,jdbcType=VARCHAR},
        </if>
        <if test="emPhone != null">
          #{emPhone,jdbcType=VARCHAR},
        </if>
        <if test="emPosition != null">
          #{emPosition,jdbcType=INTEGER},
        </if>
        <if test="emStatus != null">
          #{emStatus,jdbcType=INTEGER},
        </if>
        <if test="emCompany != null">
          #{emCompany,jdbcType=VARCHAR},
        </if>
        <if test="emIdcard != null">
          #{emIdcard,jdbcType=VARCHAR},
        </if>
        <if test="emCreatedate != null">
          #{emCreatedate,jdbcType=TIMESTAMP},
        </if>
        <if test="emLeftdate != null">
          #{emLeftdate,jdbcType=TIMESTAMP},
        </if>
        <if test="emEngname != null">
          #{emEngname,jdbcType=VARCHAR},
        </if>
        <if test="username != null">
          #{username,jdbcType=VARCHAR},
        </if>
        <if test="password != null">
          #{password,jdbcType=VARCHAR},
        </if>
        <if test="fileId != null">
          #{fileId,jdbcType=INTEGER},
        </if>
        <if test="deptId != null">
          #{deptId,jdbcType=INTEGER},
        </if>
        <if test="wpId != null">
          #{wpId,jdbcType=INTEGER},
        </if>
      </trim>
  </insert>

  <!--修改员工基本信息-->
  <update id="updateEmployeeByEmId" parameterType="com.ralei.pojo.SysEmployee">
      update sys_employee
      <set>
        <if test="emName != null">
          em_name = #{emName,jdbcType=VARCHAR},
        </if>
        <if test="emPhone != null">
          em_phone = #{emPhone,jdbcType=VARCHAR},
        </if>
        <if test="emPosition != null">
          em_position = #{emPosition,jdbcType=INTEGER},
        </if>
        <if test="emStatus != null">
          em_status = #{emStatus,jdbcType=INTEGER},
        </if>
        <if test="emCompany != null">
          em_company = #{emCompany,jdbcType=VARCHAR},
        </if>
        <if test="emIdcard != null">
          em_idcard = #{emIdcard,jdbcType=VARCHAR},
        </if>
        <if test="emCreatedate != null">
          em_createdate = #{emCreatedate,jdbcType=TIMESTAMP},
        </if>
        <if test="emLeftdate != null">
          em_leftdate = #{emLeftdate,jdbcType=TIMESTAMP},
        </if>
        <if test="emEngname != null">
          em_engname = #{emEngname,jdbcType=VARCHAR},
        </if>
        <if test="username != null">
          username = #{username,jdbcType=VARCHAR},
        </if>
        <if test="password != null">
          password = #{password,jdbcType=VARCHAR},
        </if>
        <if test="fileId != null">
          file_id = #{fileId,jdbcType=INTEGER},
        </if>
        <if test="deptId != null">
          dept_id = #{deptId,jdbcType=INTEGER},
        </if>
        <if test="wpId != null">
          wp_id = #{wpId,jdbcType=INTEGER},
        </if>
      </set>
      where em_id = #{emId,jdbcType=INTEGER}
  </update>

  <!--删除员工-->
  <delete id="deleteEmployeeById" parameterType="integer">
      delete from sys_employee
      where em_id = #{emId,jdbcType=INTEGER}
  </delete>

  <!--查询员工详情-->
  <select id="selectEmployeeById" parameterType="integer" resultType="com.ralei.pojo.SysEmployee">
      SELECT e.em_id,
        e.em_name,
        e.em_phone,
        e.em_position,
        e.em_status,
        e.em_company,
        e.em_idcard,
        e.em_createdate,
        e.em_leftdate,
        e.em_engname,
        e.username,
        e.password,
        e.file_id,
        e.dept_id,
        e.wp_id,
        e.em_question,
        e.em_answer,
        e.em_img from sys_employee e WHERE e.em_id=#{emId,jdbcType=INTEGER};
  </select>

  <!--按照姓名或者联系方式搜索-->
  <select id="selectEmployeeByPhoneOrName" parameterType="string" resultType="com.ralei.pojo.SysEmployee">
    SELECT e.em_id,
        e.em_name,
        e.em_phone,
        e.em_position,
        e.em_status,
        e.em_company,
        e.em_idcard,
        e.em_createdate,
        e.em_leftdate,
        e.em_engname,
        e.username,
        e.password,
        e.file_id,
        e.dept_id,
        e.wp_id,
        e.em_question,
        e.em_answer,
        e.em_img from sys_employee e
        <where>
          <if test="emName!=null">
            and e.em_name=#{emName}
          </if>
          <if test="emPhone != null">
            and e.em_phone=#{emPhone}
          </if>
        </where>
  </select>
</mapper>
